pyTelegramBotAPI
requests
urllib3==2.2.1
certifi==2024.2.2
idna==3.6
charset-normalizer==3.3.2
folium
pyotp
beautifulsoup4
python-whois
dnspython
phonenumbers
netifaces
statistics
pillow
psutil
pyfiglet
stepic
colorama
rich
pystyle
flask
